@import "tailwindcss";
.gradient{
  background: linear-gradient(to top, #fcecac 0%, 5%, #fffbeb 90% );
  border: #fdcc06 2px solid;
}
.gradient2{
  background: linear-gradient( to bottom, /* напрямок: зверху вниз */ 
  #fff7ed 0%, /* orange-50 → дуже світлий помаранчевий */ 
  #fffbeb 50%, /* amber-50 → світло-жовтий */ 
  #ffedd5 100% /* orange-100 → трохи насиченіший помаранчевий */ );
}